/* Dashboard Container */
.dashboard-container {
    height: 100vh;
}

/* Top Bar */
.dashboard-topbar {
    background-color: #f4f4f4; /* Light Gray */
    color: #2C4E80; /* Dark Blue */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-topbar h3 {
    margin: 0;
}

/* Left side of the top bar */
.left-topbar {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
}

/* Add some margin between the buttons */
.profile-button,
.logout-button,
.settings-button {
    margin-left: 10px;
    color: #2C4E80; /* Dark Blue */
}

/* Sidebar */
.sidebar {
    background-color: #fff; /* White */
    padding: 10px 0;
    height: calc(100vh - 80px); /* Adjust height to fill remaining space */
    width: 70px; /* Set width of the sidebar */
}

.sidebar .nav-link {
    color: #2C4E80; /* Dark Blue */
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}

.sidebar .nav-link:hover {
    color: #f1c40f; /* Sunflower Yellow */
}

.icon-container {
    background-color: #A3D8FF; /* Light Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-container .icon {
    color: #2C4E80; /* Dark Blue */
}

.link-text {
    margin-left: 10px;
    font-size: 12px; /* Reduced font size */
}

/* Main Content */
.dashboard-body {
    padding-top: 0;
    background-color: azure;
}

.main-content {
    padding-left: 3px;
    width: 190px;
}
