/* General Styles */

body {
  font-family: 'Your Caligraphed Font', cursive; /* Use the caligraphed font */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation Bar Styles */
.navbar {
  background-color: #fff;
  color: #2C4E80; /* Adjusted text color */
  padding: 15px 0;
}

.navbar h1 {
  margin: 0;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #2C4E80;
  text-decoration: none;
  font-size: 18px;
}

/* Hero Section Styles */
.hero {
  background-color: #f4f4f4;
  background-image: '../src/assets/pexels-suzyhazelwood-3652701.jpg';
  text-align: center;
  padding: 100px 0;
  backgroundSize: 'cover';
  backgroundPosition:'center';
  color: '#fff';
  textAlign: 'center';
  padding: '100px 0'; 
}

.hero h2 {
  margin: 0;
  font-size: 36px; /* Increase font size */
  color: #2C4E80; /* Adjusted text color */
}

.hero p {
  margin-top: 20px;
  font-size: 18px; /* Increase font size */
  color: #555; /* Adjusted text color */
}

.hero .btn {
  background-color: #2C4E80; /* Adjusted button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.hero .btn:hover {
  background-color: #555; /* Adjusted button hover color */
}

/* About Section Styles */
.about {
  padding: 100px 0;
}

.about h2 {
  margin: 0;
  font-size: 36px; /* Increase font size */
  color: #2C4E80; /* Adjusted text color */
}

/* Features Section Styles */
.features {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.features h2 {
  margin: 0;
  font-size: 36px; /* Increase font size */
  color: #2C4E80; /* Adjusted text color */
}

.features .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Smooth transition */
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.feature-content {
  padding: 20px 0;
}

.feature-content h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.feature-content p {
  font-size: 16px;
  color: #666;
}

/* Contact Section Styles */
.contact {
  padding: 100px 0;
}

.contact h2 {
  margin: 0;
  font-size: 36px; /* Increase font size */
  color: #2C4E80; /* Adjusted text color */
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}
